
        .payslip-card{width: 100%; float: left; padding: 2%;}
        .payslip-card .company-info{width: 100%; float: left; border-bottom: 1px solid #333; padding-bottom: 2%;}
        .payslip-card .company-info .logo{width: 10%; float: left;}
        .payslip-card .company-info .logo img{width: 70%; float: right;}
        .payslip-card .company-info .info{width: 90%; float: left;}
        .payslip-card .company-info .info p b{font-size: 1.2em !important;}
        .payslip-card .employee-info{width: 100%; float: left; padding: 0%; border-left: 1px solid #333; border-right: 1px solid #333; border-bottom: 1px solid #333;}
        .payslip-card .employee-info .left{width: 50%; float: left; border-right: 1px solid #333;}
        .payslip-card .employee-info .right{width: 50%; float: left;}
        .payslip-card .employee-info .left table{width:100%;}
        .payslip-card .employee-info .right table{width:100%;}
        .payslip-card .employee-info .right table tr .head{font-weight: bolder;}
        .payslip-card .employee-info .left table tr td{font-size: 0.7em;}
        .payslip-card .employee-info .right table tr td{font-size: 0.7em;}
        .payslip-card .employee-info .right table tr .info{width: 40%;}
        .payslip-card .employee-info .right table tr .value{width: 60%;}
        .payslip-card .employee-info .left table tr .info{width: 30%;}
        .payslip-card .employee-info .left table tr .value{width: 70%;}
        .overall{font-size: 1.5em !important;}
        .payslip-card{border-bottom: 1px solid #333;}
        .payslip-card .payroll-summary{width: 100%; float: left;}
        .payslip-card .payroll-summary .right{float:right; font-size: 0.8em;}
        .payslip-card .payroll-summary p{font-size: 0.8em;}
        .payslip-card .payroll-summary p b .val{border-bottom: 1px solid #333; width:}
        .payslip-card .summary-info{width: 100%; float: left; border-right: 1px solid #333;border-left: 1px solid #333;border-bottom: 1px solid #333;}
        .payslip-card .summary-info .card{height:9em; padding:0.2%; width: 25%; float: left; background-color: xred; border-right: 1px solid #333;}
        .payslip-card .summary-info .card .title{font-weight: bolder;}
        .payslip-card .summary-info .card .data{width: 100%; float: left;}
        .payslip-card .summary-info .card .data .meta{width: 50%; float: left; text-align: left; font-size: 0.7em; font-weight: bolder;}
        .payslip-card .summary-info .card .data .value{width: 50%; float: left; text-align: right; font-size: 0.7em;}
        .payslip-card .summary-info .card .total{width: 100%; float: left; border-top: 1px solid #333;}
        .payslip-card .summary-info .card .total .meta{width: 50%; float: left; text-align: left; font-size: 0.7em; font-weight: bolder;}
        .payslip-card .summary-info .card .total .value{width: 50%; float: left; text-align: right; font-size: 0.8em; color: red;}
        @media  print{
            .c-navbar{display : none;}
        }
  